<header>
  <div class="left-section">
    <span class="name" (click)="goToHomePage()">Osman Berke Ülger</span>
  </div>
  <div class="right-section">
    <div class="search-container">
      <img src="https://img.icons8.com/?size=100&id=108794&format=png&color=000000" alt="Icon 1" class="icon" (click)="openUrl('https://www.youtube.com/@berkeulger/')">
      <img src="https://img.icons8.com/?size=100&id=sbhfmWq4KRr1&format=png&color=000000" alt="Icon 2" class="icon" (click)="openUrl('https://github.com/Berkeulger2002')">
      <img src="https://img.icons8.com/?size=100&id=Pz213it3TQxp&format=png&color=000000" alt="Icon 3" class="icon" (click)="openUrl('https://www.linkedin.com/in/osman-berke-%C3%BClger-518819218/')">
      <img src="https://img.icons8.com/?size=100&id=z6faRXwXtVdE&format=png&color=000000" alt="Icon 4" class="icon" (click)="navigateToAboutMe()">

      <input type="text" class="search-input" placeholder="Search...">
      <button class="search-button">Search</button>
    </div>
  </div>
</header>