<nav class="navbar" [class.is-active]="isNavbarActive">
  <ul class="navbar-list">
    <li><a routerLink="/" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">HOME</a></li>
    <li><a routerLink="/categories" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">CATEGORIES</a></li>
    <li><a routerLink="/categories" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">POLITICS</a></li>
    <li><a routerLink="/categories" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">BUSINESS</a></li>
    <li><a routerLink="/categories" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">HEALTH</a></li>
    <li><a routerLink="/categories" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">DESIGN</a></li>
    <li><a routerLink="/categories" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">SPORT</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" class="navbar-item" (click)="toggleNavbar()">CONTACT</a></li>
  </ul>
</nav>