<div class="container">
    <div class="box">
        <h2>Hakkımda</h2>
        <p>
          I am a 3rd year Computer Engineering student at Karabük University. Until the current stage of my academic
           life, I have been actively involved in many simple and advanced software projects and gained experience in
            software development. I am progressing intensively in this field to continue my career as a software
             developer. Currently, I am trying to improve myself in web developing. I am open to new career opportunities
              and collaborations in the technology industry. I look forward to contributing and seizing opportunities to
               work together to create impactful, innovative solutions.
        </p>
    </div>
    <div class="box">
        <h2>İletişim bilgileri</h2>
        <p>   
            <span class="gray-text">Cep Telefonu:</span> +90 507 547 8450<br>
            <span class="gray-text">e-posta:</span> oberul.1ger&#64;gmail.com
        </p>
    </div>
    <div class="box">
        <h2>İş Geçmişi</h2>
        <p>   
            <span class="gray-text">Şirket Adı:</span> enoca<br>
            <span class="gray-text">Başlama Tarihi:</span> 05.08.2024<br>
            <span class="gray-text">Bitiş Tarihi:</span> 02.09.2024<br>
            <span class="gray-text">Pozisyon:</span> Stajyer
        </p>
    </div>
    <div class="box">    
        <h2>Eğitim Geçmişi</h2>
        <p>   
            <span class="gray-text">Lisans:</span> KARABÜK ÜNİVERSİTESİ<br>
            <span class="gray-text">Fakülte:</span> MÜHENDİSLİK FAKÜLTESİ<br>
            <span class="gray-text">Bölüm Adı:</span> Bilgisayar Mühendisliği(İngilizce)<br>
            <span class="gray-text">Ortalama:</span> 2.79/4<br>
            <span class="gray-text">Başlama Tarihi:</span> 04.09.2021<br>
            <span class="gray-text">Eğitim Durumu:</span> Hala devam etmekteyim
        </p>
    </div>
    <div class="centered-box">
        <div class="box"> 
            <h2>Sertifika Bilgisi</h2>
            <p>   
                <span class="gray-text">Sertifika Adı:</span> AI For Everyone<br>
                <span class="gray-text">Sertifikayı Veren Kurum:</span> Coursera<br>
                <span class="gray-text">Sertifika Alınma Tarihi:</span> 17 Haziran 2023<br>
                <span class="gray-text">Sertifika Açıklaması:</span> Workflow of Machine Learning projects AI terminology Workflow of Data Science projects AI strategy<br>
                <span class="gray-text">Sertifika Belgesi:</span> coursera-uu66wkwn32lvf_6600455003ebd1.86717805.pdf
                <br>
            </p>
        </div>
    </div>
    <!-- Yeni kutular -->
    <div class="full-width-box">
        <div class="box">
            <h2>Proje-1</h2>
            <span class="gray-text">Proje Adı:</span> Frontend News Web Project

            <br>
            <span class="gray-text">Proje Açıklaması:</span> Ana sayfa, aboutme, contact ve categori sayfalarından oluşan API'den çektiğimiz verileri önyüzde gösterebildiğimiz Angularjs framework kullanılarak Html css ve typescript ile yazılan bir frontend haber sitesidir.
        </div>
    </div>
    <div class="full-width-box">
        <div class="box">
            <h2>Proje-2</h2>
            <span class="gray-text">Proje Adı:</span> Ajans sitesi
            <br>
            <span class="gray-text">Proje Açıklaması:</span>Bir ana sayfadan kullanıcı yada admin girişi yapılabilen kullanıcının admine mesaj yollayabildiği adminin ise kullanıcıdan gelen mesajı görüp işaret atabildiği laravel framework üzerinden PHP diliyle yazılıp AdminLte kullanılarak hazırlanan backend projesi<br>

        </div>
    </div>
    <div class="full-width-box">
        <div class="box">
            <h2>Proje-3</h2>
            <span class="gray-text">Proje Adı:</span> Hobbits Üç Ordunun Savaşı
            <br>
            <span class="gray-text">Proje Açıklaması:</span> Proje oyuncu ile bilgisayarın rekabet edeceği sıra tabanlı, WindowsForm kullanılarak yapılan masaüstü oyun uygulamasıdır. Oyunun amacı verilen nesneler arasında seçim yaparak bilgisayarla rekabet etmek ve eldeki nesneler bitmeden bilgisayarı yenmek.
            Proje javada yazılmış olup, GUI için de Windows Form kullanılmıştır<br>

        </div>
    </div>
    <div class="full-width-box">
        <div class="box">
            <h2>Proje-4</h2>
            <span class="gray-text">Proje Adı:</span> Demo tarih sitesi<br>
            <span class="gray-text">Proje Açıklaması:</span> HTML-5, CSS ve JavaScript kullanarak menü üzerinden Avrupa'daki büyük devletlerin tarihlerine ulaşabileceğiniz ve içinde quiz sistemi bulunduran bir web sitesi.<br>

        </div>
    </div>
    <div class="full-width-box">
        <div class="box">
            <h2>YETENEKLER</h2>
            <p>
                <span class="gray-text">Adı:</span> C<br>
                <span class="gray-text">Seviyesi:</span> İleri Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> Java<br>
                <span class="gray-text">Seviyesi:</span> Orta Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> HTML-CSS<br>
                <span class="gray-text">Seviyesi:</span> İleri Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> Sql<br>
                <span class="gray-text">Seviyesi:</span> Başlangıç Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> JavaScript<br>
                <span class="gray-text">Seviyesi:</span> Orta Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> Python<br>
                <span class="gray-text">Seviyesi:</span> İleri Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> PHP<br>
                <span class="gray-text">Seviyesi:</span> Orta Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> Typescript<br>
                <span class="gray-text">Seviyesi:</span> Orta Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> Laravel<br>
                <span class="gray-text">Seviyesi:</span> Orta Seviye<br>
            </p>
            <p>
                <span class="gray-text">Adı:</span> Angularjs<br>
                <span class="gray-text">Seviyesi:</span> Orta Seviye<br>
            </p>
        </div>
    </div>
    
</div>